<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfigCode" value=""/>
    <add key="BatchNumber" value="20"/>
    <add key="ftpServerIP" value="194.93.130.140"/>
    <add key="ftpUserID" value="CurrentCost"/>
    <add key="ftpPassword" value="meniscus"/>
  </appSettings>
</configuration>